*

!Justfile
!pom.xml

!src/

!src/main/
!src/main/java/
!src/main/java/ucu/
!src/main/java/ucu/slay
!src/main/java/ucu/slay/*.java
!src/main/java/ucu/utils
!src/main/java/ucu/utils/*.java

!src/test/
!src/test/java/
!src/test/java/ucu/
!src/test/java/ucu/slay
!src/test/java/ucu/slay/*.java

!simulacion-*.txt
